<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ADVOCATE</th>
            <th>MOBILE</th>
            <th>EMAIL</th>
        </tr>
        <tr>
        </tr>        
    {% if blogs %}    
        {% for sts in blogs %}
            <tr>
            <td>{{sts.id}}</td><td>{{sts.Name}}</td><td>{{sts.Advocate}}</td> <td>{{sts.Mobile}}</td><td>{{sts.Email}}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
        <th colspan="5">There is no records</th>
        </tr>
    {% endif %}
    </table>
</body>
</html>